.card {
  margin-bottom: 5px;
  width: 100%;
  cursor: pointer;
  &:hover {
    padding: 5px;
    background-color: #d3d3d3;
  }
  transition: all 0.3s ease-out;
  .p {
    margin-top: 5px;
  }
  .com {
    display: flex;
  }
}
