body {
  font-family: "Raleway";
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d3d3;
  height: calc(100vh - 80px);
  padding: 40px;
  color: black;
  & * {
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #999;
      outline: none;
      border-radius: 5px;
    }
  }

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f6f6f6;
    height: 90vh;
    width: 65vw;
    border-radius: 25px;
    padding: 20px 30px;

    .h {
      margin: 15px 0px;
      font-weight: 700;
      font-size: 28px;
    }
  }
}
